@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;300;400;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#App {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-family: 'Poppins', Roboto, sans-serif;
	background-color: rgb(240, 240, 240);
}

main {
	text-align: center;
}

button {
	font-family: 'Poppins', Roboto, sans-serif;
	border: 1px solid white;
	font-size: 1rem;
	text-transform: uppercase;
	color: white;
	background-color: black;
	padding: 0.1rem;
}

button:active {
	background-color: rgb(75, 75, 75);
	transform: translateY(1px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
