footer {
	z-index: 1;
	font-size: 0.9rem;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Poppins', Roboto, sans-serif;
	margin-top: auto;
	color: white;
	background-color: rgb(30, 30, 30);
}

footer .info {
	width: min(90%, 60rem);
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-evenly;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

footer .info h4 {
	font-weight: 600;
	margin-bottom: 1rem;
}

footer .info div {
	display: flex;
	flex-direction: column;
}

footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer .copyright {
	align-self: stretch;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	background-color: black;
}

footer .copyright div {
	margin: 0 0.5rem;
	margin-top: -0.2rem;
}

footer .copyright a {
	display: contents;
}

#newsletter {
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}

#newsletter input {
	width: min(100%, 16rem);
	font-size: 1rem;
	background-color: transparent;
	border: none;
	color: white;
	border-bottom: 1px solid white;
	margin: 0.8rem;
}

#newsletter button {
	width: 10rem;
	background-color: hsl(208, 44%, 83%);
	color: black;
	text-transform: capitalize;
	font-size: 0.9rem;
}

#newsletter button:hover {
	background-color: hsl(208, 44%, 73%);
}

#newsletter button:active {
	background-color: hsl(208, 44%, 53%);
}
