header {
	position: sticky;
	top: 0px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0.8rem;
	background-color: rgba(7, 5, 22, 0.3);
	font-family: 'Playfair Display', serif;
	font-size: 1.2rem;
}

header a {
	text-decoration: none;
	color: black;
}
