#products ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, 20rem);
	justify-content: center;
	list-style: none;
	gap: 2rem min(5rem, 3%);
	padding: 2rem min(10rem, 3%);
	text-align: start;
}

#products li {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 1rem;
}

#products img {
	height: 15rem;
	width: 100%;
	object-fit: contain;
	margin-bottom: 1rem;
}
#products .name {
	margin-bottom: 0.5rem;
}

#products .name a {
	color: black;
	text-decoration: none;
	font-weight: 300;
}

#products .name a:hover {
	color: black;
	text-decoration: underline;
}

#products .price {
	margin-top: auto;
}
